
.App {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.Content {
  overflow: auto; /* Enable scrolling */
  height:100%;
}