@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Hide default scrollbars */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 89, 60, 133;
    --background-end-rgb: 21, 14, 31;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-xl;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-orange-300 text-black font-semibold rounded-md shadow-md hover:bg-orange-400 focus:outline-none focus:ring focus:ring-orange-400 focus:ring-opacity-75;
  }

  .btn-primary:disabled {
    @apply bg-gray-400 hover:bg-gray-400
  }
  input {
    padding: 10px;
    color: #000;
  }

  .active {
    @apply text-orange-300;
  }
}